.bg-celeste {
    background-color: rgb(0, 155, 252) !important;
}

.bg-celeste .nav-link {
  color: #ffffff !important;
}

.bg-celeste .nav-link:hover {
    background-color: #ffffff !important;
    color: rgb(255, 200, 0) !important;
    font-weight: bold !important;
}
